/* proyecto acamica.css*/


*{max-width: 1440px;
margin:0;
padding:0;
box-sizing: border-box;
}

nav img{
    width: 36px;
    height: 36px;
    justify-content: flex-start;
    align-items: center;
    margin-left:100px;
}
nav{
    height: 80px;
    align-items: center;
    
}

body{
    margin:0;
    padding:0;
    font-family:"IBM Plex Mono","IBM Plex Sans", sans-serif;
    letter-spacing: 0;
   
}



menu{
    align-content: center ;
}

  
  .menu ul{
      display:flex;
      margin:0;
      padding:0;
      list-style: none;
      justify-content: flex-end;
  }

 

  .menu li:hover{
      background: rgba(0,0,0,0.3);
  }
  .menu li a{
      margin:10px;
      padding: 5px;
      display: block;
      color:#060A24 100%;
      font-weight: bold;
      text-decoration: none;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
        
  }
p{
    font-size: 16px;
    letter-spacing: 0;
}
  
h1{font-size: 64px;
letter-spacing: 0;}
h2{font-size:48px;
letter-spacing: 0;}

h3{
    font-size: 16px;
    letter-spacing: 0;}
    

    .dedondevenimos .texto h1{
    font-size: 48px;}

        .main{
            width: 1440px;
            height: 369px;
            margin-top:120px;
        }


/*.div1{
    padding:30px;
}*/
.episodios{
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.episodios h2{
    margin-left: 200px;
}
.episodios .arriba{
    margin-left: 64px;
    margin-right: 64px;
    display: inline-flex;
}
.episodios .abajo{

    margin-left: 64px;
    margin-right: 64px;
    display: inline-flex;
}
.episodios  iframe{ 
    width: 584px;
    height: 232px;
    align-content: center;
    align-items:center;
    margin: 36px;

}

.invitadas{
    width: 1440px;
    height: 728px;}
  
   
.invitadas div{display: inline-flex;}

    .invitadas img{
        width: 480px;
        height: 364px;
        align-content: center;}

.dedondevenimos{display:flex;

}

.dedondevenimos .imagen{
display:inline-flex;
}
.dedondevenimos .texto{
    margin-top:200px ;
    text-align: justify;
}
    
    .temas {
    width:1440px;
    height: 426px;
    display:flex;
    align-content: flex-start;
    /*flex-direction: row;*/
    }
    .temas .titulo {
        margin-top:15px;
        display:inline-flex;
        width:586px;
        height: 62px;
        /*margin-bottom: 69px;*/

       
        }
    .temas .iconos{
        display:flex;
        align-items: center;
        justify-content: center;
        /*margin-left:150px;/*
        margin-top:182px;
        /*align-content: center;*/}

        .temas .iconos p{
            font-weight: bold;
        }
       

       .novedades{
        width: 1440px;
        height:518px;
        background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        text-align: center;
        justify-content: center;
        align-items: center;
        transform: skewY(0deg, 5deg);
    }
    .novedades input{
        margin: 50px;
        padding:20px;
        background: #00F3BB;
}


    .main{
        margin-left:200px;
    }

    .main input{
        width: 226px;
        height: 56px;
        margin-top:56px;
        background: #00F3BB;;
    }


footer{
    display:inline-flex;
    width: 1440px;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer i{margin:15px;}